## BASICS OF PYTHON

### FUNDMENTAL TYPES

### Integer

In [ ]:
#integer
x=3
type(x)

int

### Float

In [ ]:
#float
x=1.2
type(x)

float

### Boolean

In [ ]:
#boolean
A=3
bool(A)

True

In [ ]:
#boolean
A=22
B=22.24
bool(A==B)

False

### String

In [ ]:
#string
a='hello'
print(a)

hello

In [ ]:
print("hello")

hello

In [ ]:
print('''hello i am raksha!!!''')

hello i am raksha!!!

### Complex

In [ ]:
#complex
x=complex(3,6)
print(x)

(3+6j)

### Variables

In [ ]:
#variable
var="i am raksha"
print(var)

i am raksha

In [ ]:
name="raksha"
age="20"
print(name,age)

raksha 20

### Dynamic typing

In [ ]:
message="hellooo!"
print(type(message))

<class 'str'>

In [ ]:
num=300
print(type(num))

<class 'int'>

### Strong typing

In [ ]:
class cat:
  def walk(self):
    print("meow meow")

class dog:
  def walk(self):
    print("bow bow")

def myfunction(obj):
  obj.walk()

d=dog()
myfunction(d)

bow bow

### Simple Expression

In [ ]:
P = (10 == 9)
Q = (7 > 5)
  
# Logical Expressions
R = P and Q
S = P or Q
T = not P
  
print(R)
print(S)
print(T)

False
True
True

### Branching (if / elif / else)

In [ ]:
x = int(input('Enter an integer: ')) # Will wait for you to enter an int
if x%2 == 0:
    if x%3 == 0:
        print('Divisible by 2 and 3')
    else:
        print('Divisible by 2 but not by 3')
elif x%3 == 0:
    print('Divisible by 3 but not by 2')
else:
    print('Not divisible by either 2 or 3')

Enter an integer: 16
Divisible by 2 but not by 3

## Advanced Types: Containers

### Lists

In [ ]:
my_list = ['p', 'r', 'o', 'b', 'e']

# first item
print(my_list[0])  # p

# third item
print(my_list[2])  # o

# fifth item
print(my_list[4])  # e

# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0][1])

print(n_list[1][3])

p
o
e
a
5

In [ ]:
# Negative indexing in lists
my_list = ['p','r','o','b','e']

# last item
print(my_list[-1])

# fifth last item
print(my_list[-5])

e
p

In [ ]:
# List slicing in Python

my_list = ['p','r','o','g','r','a','m','i','z']

# elements from index 2 to index 4
print(my_list[2:5])

# elements from index 5 to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [ ]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
# Appending and Extending lists in Python
odd = [1, 3, 5]

odd.append(7)

print(odd)

odd.extend([9, 11, 13])

print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

In [ ]:
# Concatenating and repeating lists
odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

In [ ]:
# Demonstration of list insert() method
odd = [1, 9]
odd.insert(1,3)

print(odd)

odd[2:2] = [5, 7]

print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

In [ ]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)

# delete the entire list
del my_list

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

In [ ]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'o'
print(my_list.pop(1))

# Output: ['r', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'm'
print(my_list.pop())

# Output: ['r', 'b', 'l', 'e']
print(my_list)

my_list.clear()

# Output: []
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']
[]

In [ ]:
# Example on Python list methods

my_list = [3, 8, 1, 6, 8, 8, 4]

# Add 'a' to the end
my_list.append('a')

# Output: [3, 8, 1, 6, 8, 8, 4, 'a']
print(my_list)

# Index of first occurrence of 8
print(my_list.index(8))   # Output: 1

# Count of 8 in the list
print(my_list.count(8))  # Output: 3

[3, 8, 1, 6, 8, 8, 4, 'a']
1
3

In [ ]:
p = [2 ** x for x in range(10)]
print(p)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
#iteration list
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

In [ ]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# Output: True
print('p' in my_list)

# Output: False
print('a' in my_list)

# Output: True
print('c' not in my_list)

True
False
True

In [ ]:
pow2 = [2 ** x for x in range(10) if x > 5]
>>> pow2
[64, 128, 256, 512]
>>> odd = [x for x in range(20) if x % 2 == 1]
>>> odd
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
>>> [x+y for x in ['Python ','C '] for y in ['Language','Programming']]
['Python Language', 'Python Programming', 'C Language', 'C Programming']

['Python Language', 'Python Programming', 'C Language', 'C Programming']

## Loops

### For loop

In [ ]:
# Program to find the sum of all numbers stored in a list
# List of numbers
list=[6,5,3,8,4,2,5,4,11]
# variable to store the sum
sum=48
# iterate over the list
for n in list:""
sum=sum+n
# Output: The sum is 48
if sum==48:
  print("the sum is",sum)

### for loop with else

In [ ]:
for i in range(1, 4):
    print(i)
else:  # Executed because no break in for
    print("No Break")

1
2
3
No Break

### While loop

In [3]:
# Program to add natural
# numbers upto 
x=0
n=10
# sum = 1+2+3+...+n
sum=0
# To take input from the user,
while(x<=n):
  sum=sum+x
  x=x+1
# initialize sum and counter
    # update counter
print("the sum is",sum)
# print the sum

the sum is 55

### The range() function

In [6]:
x=6
for n in range(x):
  print(n)

0
1
2
3
4
5

In [12]:
x=range(3,8,2)
for n in x:
  print(n)

3
5
7

### break and continue statement

In [13]:
#break statement
for val in "string":
    if val == "i":
        break
    print(val)

s
t
r

In [14]:
#continue statement
for val in "string":
    if val == "i":
        continue
    print(val)

s
t
r
n
g